.header {
    height: var(--header--height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__nav-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__nav-item--has-qr:hover .header__qr{
    display: block;
}

.header__nav-item--has-notify:hover .header__notify {
    display: block;
}

.header__nav-icon-link {
    text-decoration: none;
    color: var(--white--color);
}

.header__nav-icon {
    font-size: 1.8rem;
    margin: 0 6px;
}

.header__nav-item,
.header__nav-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white--color);
    text-decoration: none;
    font-weight: 300;
}

.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__nav-item:hover,
.header__nav-item-link:hover,
.header__nav-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__nav-item--strong {
    font-weight: 400;
}

.header__nav-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fb9086;
    height: 1.6rem;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}

.header__nav-title--no-pointer {
    cursor: text;
    color: var(--white--color);
}

/* header QR code */
.header__qr {
    width: 186px;
    background-color: var(--white--color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none; 
    animation: fadeIn ease-in 0.3s;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    height: 10%;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Notification header */

.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white--color);
    border: 1px solid #d3d3d3;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    display: none;
    /* Toi uu chuyen dong animation */
    will-change: opacity, transform;
}

.header__notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white--color) transparent;
    position: absolute; 
    right: 4px;
    top: -29px;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 20px;
    right: 0;
    top: -17px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white--color);
    cursor: default;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #eae0e0;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.13);
}

.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
    
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-body {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black--color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756f6e;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
    border-top: 1px solid #33333329;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text--color);
    width: 100%;
    padding: 8px 0px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

/* Authen modal */
.auth-form {
    width: 500px;
    margin-top: 28px;
    background-color: var(--white--color);
    border-radius: 3px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text--color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary--color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
    
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border--color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 8px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary--color);
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials {
    background-color: #d6d6d6;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;  
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 2rem;
}

.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white--color);
}

.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white--color);
}

.auth-form__socials--google {
    color: #666;
    background-color: var(--white--color);
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    color: #939393;
    font-size: 1.4rem;
}

.auth-form__help-forget {
    color: var(--primary--color);
    margin-right: 30px;
}

/* Header tìm kiếm */
.header-with-search {
    height: var(--heaer-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    height: 40px;
    background-color: var(--white--color);
    flex: 1;
    border-radius: 2px;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    margin-top: 6px;
    font-size: 2.5rem;
    color: var(--white--color);
}
